<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
		<a href="/Users/index">List</a>
			<h2>User Create </h2>
			<form action="/Users/create" method="POST">
			<table>

			<tr><td>FirstName<td><input type="text" name="User[name]"><br/>
			<tr><td>LastName<td><input type="text" name="User[age]"><br/>
			<tr><td>UserName<td><input type="text" name="User[profession]"><br/>

			<tr ><td><td><input type="submit" value="ADD">
		</form>
    </body>
</html>